.git
.gitattributes
.gitignore
.github
.editorconfig
.idea
.vscode
.docker
node_modules
vendor
postgres
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
docker-compose*.yaml
ssl/
tests
phpunit.xml
README.md
